<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <nav class="nav bg-dark">
          <li><%= link_to("Posts", "/posts", class: 'nav-link text-light') %></li>
          <li><%= link_to("New Post", "/posts/new", class: 'nav-link text-light') %></li>
          <li><%= link_to("Users", "/users", class: 'nav-link text-light') %></li>
          <li><%= link_to "New User", "/users/new", class: 'nav-link text-light' %></li>
        </nav>
      </div>
    </header>
    <%= render 'shared/flash_message' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
